
@import './mixins';
@import './variables';

html {box-sizing: border-box;}
*, *:before, *:after { box-sizing: inherit; }

*, *:before, *:after {outline: none;}

body {
  font-family: 'Fira Sans', sans-serif;
  //font-family: 'Raleway', sans-serif;
  //font-family: 'Open Sans', sans-serif;

	font-weight: 400;
	color: rgba(0,0,0,0.54);
	font-size: .95rem;
  padding: 0;
  margin: 0;
  background-color: $off-white;
}

p, textarea {
	//font-family: 'Merriweather', serif;
	font-size: 0.8rem;
	line-height: 1.5;
	margin: 0;
}

textarea {
	resize: none;
}

ul {
  list-style: none;
  margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
  margin: 0;
	color: #a8a8a8;
}

h3 {
	font-family: 'Oswald', serif;
	//font-size: 1rem;
	//font-weight: 400;
}

button {
	background-color: $secondary-color;
	cursor: pointer;
	color: white;
	border: none;
	padding: 0.6rem 0.8rem 0.6rem;
	font-size: 1rem;
	transition: background-color 0.2s;
	border-radius: 3px;
	min-width: 6.4rem;
	&:hover {
		background-color: darken($secondary-color, 20%);
	}
}

button.secondary-button {
	background-color: rgba(0, 0, 0, 0.3);;
}

fieldset {
	border: none;
	padding: 0;
}

label {
	cursor: pointer;
}

.panel {
	> div {
		&:after {content: ' '; clear:both; display: table;}
		background-color: white;
		border-radius: 5px;
		border-bottom: 3px solid #e3e4e8;
		padding: 1rem;
	}
}

$susy: (
  columns: 12,
  gutters: 1/2,
  //math: fluid,
  //output: float,
  //gutter-position: inside,
  global-box-sizing: border-box,
  //debug: (
  //  image: show,
  //  color: blue,
  //  output: overlay,
  //  toggle: top left,
  //),
);
