// Colors
$black: #383838;
$off-white: #F9F9F9;

$primary-color: #ed5565;
$primary-color-dark: #da4453;
$primary-color-light: #f58b98;

$secondary-color: #4fc1e9;
$accent-color: #48cfad;


$background-color: #f0f2f5;

$active-color: #a0d468;
$away-color: #ffce55;
$busy-color: #ed5565;
$offline-color: grey;

$dark-color: #434a54;
$dark-color-dark: #393f48;
$dark-color-light: #7c8695;

// Sizes

$desktop-page-width: 1400px;



