.homepage {

	// Common
	.message {
		font-size: 1rem;
	}

	// Structure
	.main {
		@include span (8 of 12);
		section { margin-bottom: 2rem; }
		h2 { margin-bottom: 0.5rem; }
		padding-top: 1rem;
		position: relative;

		#game {
			width: 800px;
			height: 800px;
			background-color: #333;
			border-radius: 5px;
		}

		.game #canvas {
			border-bottom: 3px solid #e3e4e8;
			background-color: white;
		}

	}

	// Result
	#result {
		//display: block;
		display: none;
		position: absolute;
		//bottom: 1rem;
		bottom: -5rem;
		left: 10%;
		width: 80%;
		transition: bottom .8s, opacity .4s;
		cursor: pointer;
		text-align: center;
		.team-logo {
			height: 4rem;
			width: 4rem;
			display: inline-block;
			border-radius: 2rem;
			background: transparent url(/app/images/lemons.png) center center / 4rem 4rem no-repeat;
			&.lemons {background-image:url(/app/images/lemons.png);}
			&.ai {background-image: url(/app/images/ai.png);}
			&.biebs {background-image: url(/app/images/biebs.png);}
			&.giants {background-image: url(/app/images/giants.png);}
			&.illuminati {background-image: url("/app/images/illuminati.jpg");}
			&.ops {background-image: url(/app/images/ops.png);}
		}
		.message {
			padding-top: 1rem;
			text-align: center;
		}

		&:hover {
			opacity: 0.4;
		}
		&.active {
			display:block;
			bottom: 1rem;
		}
	}

	// Login
	#account {
		position: absolute;
		top: 15%;
		left: 20%;
		width: 60%;
		transition: top .8s;

		&.user-active {
			top: -900px;
		}

		.login-container {
			padding: 1.8rem 2rem 1rem;
			text-align: center;

			header{
				h2 {
					color: $secondary-color;
					font-size: 1.8rem;
					margin-bottom: 1.2rem;
				}
			}

			.account-inputs {
				margin-bottom: 1rem;
			}

			.account-inputs > li {
				margin-bottom: 1rem;
			}
			.account-inputs > li:last-child {
				margin-bottom: 0;
			}

			// Name.
			input.name {
				border: none;
				border:solid 1px #AAA;
				border-radius: 3px;
				padding: 0.5rem;
				flex-grow: 1;
				font-size: 1.2rem;
				min-height: 50px;
				width: 100%;
				text-align: center;
				color: #777;

				&.error-highlight{
					border: 2px solid red;
					color: red;
					&::-webkit-input-placeholder {color: red;}
					&::-moz-placeholder {color: red;}
					&:-ms-input-placeholder {color: red;}
				}
			}
			::-webkit-input-placeholder {color: #a8a8a8; opacity: 1;font-family: 'Fira Sans', sans-serif;}
			::-moz-placeholder {color: #a8a8a8; opacity: 1;font-family: 'Fira Sans', sans-serif;}
			:-ms-input-placeholder {color: #a8a8a8; opacity: 1;font-family: 'Fira Sans', sans-serif;}

			.teams {
				//outline: 1px solid hotpink;
				text-align: left;

				.option {
					$image-size: 35px;

					span {
						padding-left: 0.8rem;
					}

					&:before {
						content: '';
						display: inline-block;
						width: $image-size;
						height: $image-size;
						background: transparent url(/app/images/lemons.png) top left / $image-size $image-size no-repeat;
						border-radius: $image-size / 2;
					}
					&.lemons:before {background-image:url(/app/images/lemons.png);}
					&.ai:before {background-image: url(/app/images/ai.png);}
					&.biebs:before {background-image: url(/app/images/biebs.png);}
					&.giants:before {background-image: url(/app/images/giants.png);}
					&.illuminati:before {background-image: url("/app/images/illuminati.jpg");}
					&.ops:before {background-image: url(/app/images/ops.png);}
				}

				.selected .option {
					padding: 0;
					display:flex;
					justify-content: center;
					span {display: none;}
				}
			}

			.rules {
				.selected .option {
					color: #777;
				}
			}

			.is-ai {
				width: 100%;
				min-height: 50px;
				height: 50px;
				label {
					display:flex;
					align-items: center;
					justify-content: center;
					font-size: 1.2rem;
					color: #a8a8a8;
				}
				input {
					position: absolute;
					top: -9999px;
					left: -9999px;
				}
				.inline-svg {
					display: inline-block;
				}
				svg {
					display: inline-block;
					height: 35px;
					margin-right: 0.1rem;
					circle, polyline {
						stroke: #a8a8a8;
						stroke-width: 2.5;
					}
					polyline {
						opacity: 0;
						transition: opacity 350ms;
					}
				}
				input:checked + label {
					svg polyline {
						opacity: 1;
					}
				}
			}

			.account-controls button{
				width: 75%;
				font-size: 1.2rem;
			}

			// Buttons.
			.or {
				font-size: 1.2rem;
				padding: 0.5rem 0;
			}

			.as-ai, .login {
				width: 30%;
			}
			.as-ai {
				margin-right: 1rem;
			}
			.spectate {
				background-color: $accent-color;
				width: 33%;
				margin-bottom: .5rem;
			}

		}

	}


	aside {
		@include span (4 of 12 last);
		padding-top: 1rem;

		// Controls
		#controls {
			margin-bottom: 1rem;

			> div {
				padding: 1.5rem;
			}

			.profile {
				@include clearfix();
				margin-bottom: 2rem;

				.info {
					float: left;
					.name {
						display: block;
						font-size: 1.8rem;
					}
					.team {
						font-size: 0.8rem;
						opacity: 0.7;
						padding-left: 0.2rem;
					}
				}

				.profile-color {
					// Color display.
					float: right;
					display: inline-block;
					width: 5rem;
					height: 5rem;
					border-radius: 2.5rem;
					// Score.
					font-size: 2.7rem;
					color: white;
					text-align: center;
					line-height: 2;
				}
			}

			.ready {
				@include clearfix();
				line-height: 2.6;

				button {
					float: right;
					&:hover {
						background-color: $secondary-color;
					}
					&:not(.active) {
						opacity: 0.3;
					}
					&:last-of-type {
						margin-right: .5rem;
					}
				}

			}
			.logout button {
				float:right;
				background-color: $accent-color;
				width: 10rem;
			}
		}

		// Scores
		#scores {
			.score-container {
				padding: 1.5rem;
			}

			.game-rule {
				font-size: 0.9rem;
				margin-bottom: 1rem;
				color: $secondary-color;
			}

			.team {
				$image-size: 35px;
				margin-bottom: 1.5rem;
				min-height: $image-size;
				display: flex;
				justify-content: flex-start;
				align-content: center;

				&:before {
					content: '';
					display: inline-block;
					width: $image-size;
					min-width: $image-size;
					height: $image-size;
					background: transparent url(/app/images/lemons.png) top left / $image-size $image-size no-repeat;
					border-radius: $image-size / 2;
					margin-right: 10px;
					padding: 0;
				}
				&.lemons:before {background-image:url(/app/images/lemons.png);}
				&.ai:before {background-image: url(/app/images/ai.png);}
				&.biebs:before {background-image: url(/app/images/biebs.png);}
				&.giants:before {background-image: url(/app/images/giants.png);}
				&.illuminati:before {background-image: url("/app/images/illuminati.jpg");}
				&.ops:before {background-image: url(/app/images/ops.png);}

				ul {
					width: 100%;
					display: inline;
					border-left: 1px solid lightgrey;
					padding-left: .5rem;
				}

				h4 {display: none;}
			}

			.player {
				position: relative;
				.status {
					float: right;
					&.unready:after {
						padding-right: .8rem;
						content: 'not ready';
						font-size: 0.8rem;
						color: lightgrey;
					}
				}
				.score {
					float: right;
					width: 32px;
					text-align: center;
				}
				&.local .name {
					font-weight: 600;
				}

				&.inactive:before {
					content: '';
					border-bottom: 1px solid lightgrey;
					width: 99%;
					position: absolute;
					left: -4px;
					top: 41%;
				}
				&.inactive {
					color: lightgrey !important;
					.name {
						font-weight: normal;
					}
				}
			}
			.total-score {
				padding-top: .3rem;
				float: right;
				span {
					display: flex; justify-content: center; align-items: center;
					$size: 2rem;
					border-radius: $size / 2;
					width: $size;
					height: $size;
					background-color: $accent-color;
					color: white;
				}
			}
		}
	}
}


// Tablet
@media (min-width: 768px) {

}

// Desktop
@media (min-width: 992px) {

}

// Large Desktop
@media (min-width: 1500px) {

}